ninja
Pillow
einops
safetensors
timm
tomesd
torch
torchdiffeq
torchsde
decord
datasets
torchvision
opencv-python>=4.9.0.80
diffusers
transformers
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
easydict
ftfy
dashscope
imageio-ffmpeg
numpy>=1.23.5,<2
scikit-image
opencv-python
omegaconf
SentencePiece
albumentations
imageio[ffmpeg]
imageio[pyav]
tensorboard
beautifulsoup4
ftfy
librosa
torchaudio
